@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{

    margin: 0;
    padding:0;
}

body{
    display:grid ;
    background: radial-gradient(circle at 30% 20%, #1a1a2e, #0f0f1a);
    color: #f3f4f6;
    grid-template-columns: 1fr 1fr ;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "nav nav nav"
    "header header header"
    "main main main"
    "footer footer footer"
}

header {
    background-color:#141427;
    color: white;
    padding: 2px;
    grid-area: header;
}


nav{ 
    background-color: transparent;
    grid-area: nav;
    padding: 20px 80px;
}

nav a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #c4b5fd;
    margin-left: 25px;
    font-weight: 500;
}


nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}


main{
grid-area: main;
display:grid;
grid-template-columns: 1fr 1fr;
align-items:center;
padding:120px 400px;
}

main section{
    justify-self: start;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



 main img{
width: 345px;
height:345px;
border-radius: 50%;
padding:20px;
box-shadow:0 4px 8px rgba(120,100,255,0.3);
animation: avatarSwitch 5s infinite;
}

footer{
    background-color:darkgreen;
    color: white;
    grid-area: footer;
    padding: 6px 12px; 
    max-height: 40px; 
}

h1{
    color:#c4b5fd;
      font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}

h3{
    color:#c4b5fd;
      font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.accent{
    color: #f8f8ff;
}

header{
background-color:#141427;
}

aside{
background-color:transparent;
}

@keyframes avatarSwitch {
    0% {
        content: url('images/avatar1.png');
    }
    20% {
        content: url('images/avatar2.png');
    }
    40% {
        content: url('images/avatar3.png');
    }
    60% {
        content: url('images/avatar4.png');
    }
    80% {
        content: url('images/avatar5.png');
    } 
}